<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{fragments/template.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">
<head>
    <title>Editar Cidade</title>
</head>
<body>
<h1>Editar</h1>
<div layout:fragment="conteudo">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Alteração de Cidade</h2>
                <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <span th:text="${mensagem}"></span>
                </div>

                <form action="#" th:action="@{/cidades/{id}(id=${cidade.id})}" th:object="${cidade}" method="post">
                    <input type="hidden" name="_method" value="put">
                    <div class="row mb-3">
                        <label for="nome" class="col-sm-1 col-form-label">Nome:</label>
                        <div class="col-sm-5">
                            <input id="nome" class="form-control" type="text" th:field="*{nome}" />
                        </div>
                        <div class="col-sm-5">
                            <span class="mensagem" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-1 col-form-label" for="estado">Estado</label>
                        <div class="col-sm-5">
                            <select class="form-select" id="estado" name="estado">
                                <option value="">Selecione o estado</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <span class="mensagem"></span>
                        </div>
                    </div>


                    <input class="btn btn-primary" type="submit" value="Alterar" />
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>