<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{fragments/template.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">
<head>
    
    <title>Editar Evento</title>
</head>
<body>
<h1>Editar</h1>
<div layout:fragment="conteudo">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Alteração de Evento</h2>
                <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <span th:text="${mensagem}"></span>
                </div>

                <form action="#" th:action="@{/eventos/{id}(id=${evento.id})}" th:object="${evento}" method="post">
                    <input type="hidden" name="_method" value="put">
                    <div class="row mb-3">
                        <label class="col-sm-1 col-form-label" for="nome">Nome:</label>
                        <div class="col-sm-5">
                            <input class="form-control" id="nome" th:field="*{nome}" type="text"/>
                        </div>
                        <div class="col-sm-5">
                            <span class="mensagem" th:errors="*{nome}" th:if="${#fields.hasErrors('nome')}"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-1 col-form-label" for="data">Data</label>
                        <div class="col-sm-3">
                            <input class="form-control" id="data" th:field="*{data}" type="text">
                        </div>
                        <div class="col-sm-5">
                            <span class="mensagem" th:errors="*{data}"
                                  th:if="${#fields.hasErrors('data')}"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="row mb-3">
                            <label class="col-sm-1 col-form-label">Cidade:</label>
                            <div class="col-sm-5">
                                <select class="chosen-select form-select" data-placehold="cidade" id="cidade"
                                        name="cidade" th:field="*{cidade}">
                                    <option value="">Selecione a cidade</option>
                                    <option th:each="cidade : ${cidades}"
                                            th:text="${cidade.nome}"
                                            th:value="${cidade.id}">
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-5">
								<span class="mensagem" th:errors="*{cidade}"
                                      th:if="${#fields.hasErrors('cidade')}"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-1 col-form-label" for="url">URL:</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="url" th:field="*{url}" type="text">
                        </div>
                        <div class="col-sm-5">
								<span class="mensagem" th:errors="*{url}"
                                      th:if="${#fields.hasErrors('url')}"></span>
                        </div>
                    </div>

                    <input class="btn btn-primary" type="submit" value="Alterar" />
                </form>

            </div>
        </div>
    </div>
</div>

</body>
</html>